.DS_Store
*.config
*.creator
*.creator.user
*.creator.user.2.5pre1
*.creator.user.2.6pre1
*.creator.user.92787d5
*.files
*.includes
Makefile.*
tests/junk/

*.pyc
*.o
*.d
*.so
inputalt.dat
psi.clean
stashed.changes

CDFT.creator.user.3.2-pre1
attic/
tests/ocdft-1/output.dat
